android/JewelWarrior/assets/www/styles/*
!.gitignore
!README.md
android/JewelWarrior/assets/www/scripts/*
!.gitignore
!README.md
!phonegap-1.4.1.js
!modernizr.js
!sizzle.js
android/JewelWarrior/src/styles/*.css
!.gitignore
android/JewelWarrior/src/scripts/*.js
!.gitignore
android/JewelWarrior/bin/*
!.gitignore
android/JewelWarrior/gen/*
!.gitignore
